/* main  */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;

    width: 100%;
    background-color: #fae9e6;




}

html {
    min-width: 990px;
}

body {
    background: url(assets1/images/) no-repeat center top cover;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 100%;
    line-height: .875em;
    color: #89023e;
}

input,
select,
textarea {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
}

input,
select {
    vertical-align: middle;
    font-weight: normal;
}

img {
    border: 0;
    vertical-align: top;
    text-align: left;
}

object {
    vertical-align: top;
}

#header,
#content,
#footer {
    font-size: 0.75em;
    position: relative;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 990px;
    margin: 0 auto;
}





p {
    margin-bottom: 14px;
    color: #dfaeb4;
    font-size: 130%;

}

/* list  */
ul {
    list-style: none;
}

ul li {
    padding-bottom: 14px;

}

ol {
    padding: 15px 20px 15px 20px;
}

ol li {
    padding: 15px 20px 15px 20px;
    color: #dfaeb4;
}

/* p  */
.p1 {
    margin-bottom: 8px;
}

.p2 {
    margin-bottom: 16px;
}

.p3 {
    margin-bottom: 24px;
}

/*header*/
header {
    height: 400px;
    background: url(./images/main2-image.jpg) no-repeat center top;
    background-size: cover;
}

header .logo {
    float: left;
    padding: 150px 0 0 100px;
}


header .nav {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5em;
    position: absolute;
    top: 30px;
    width: 990px;
}

header .nav li {
    display: inline;
}

header .nav li a {
    color: #cc7178;
    text-decoration: none;
    text-transform: uppercase;
    border-left: 1px solid #c7d9b7;
    padding: 0 47px 0 50px;
}

header .nav li a:hover {
    color: #dfaeb4;
}

header .nav li a.current {
    color: #dfaeb4;
}

header .nav li a.first {
    border: none;
}

/* social  */
.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #c7d9b7;
}

/* text settings  */
a {
    color: #9f5827;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1 {

    padding: 8px 0 10px 66px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 40px;
    line-height: 1em;
}

h1 a {
    display: block;
    text-decoration: none;
    color: #89023e;
    padding-bottom: 6px;
}

h1 span {
    display: block;
    font-size: 14px;
    line-height: 1.1em;
    color: #cc7178;
    text-transform: uppercase;
    letter-spacing: -1px;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 3em;
    line-height: 1em;
    color: #c7d9b7;
    font-weight: normal;
    letter-spacing: -3px;
    margin-bottom: 12px;
}

h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: normal;
    letter-spacing: -1px;
    color: #c7d9b7;
    margin: 22px 20px 20px 20px;
}

h4 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: normal;
    color: #cc7178;
    text-align: center;
}


/* images  */
.img-indent {
    margin: 0 20px 0 0;
    float: left;
}

.img-box {
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
}

.img-box img {
    float: left;
    margin: 0 20px 0 0;
}



/*content*/
#content {
    height: 700px;


}

#content .flower1 {
    background: url(./images/flowers1.jpg) no-repeat;
    width: 40%;
    height: 90%;
    background-position: left;



    background-size: cover;
    margin: 25px 20px;

}

#content .inside {
    margin: -300px 15px 30px 450px;
}

/* photo  */
#photo {
    clear: both;
    line-height: 0;
    column-count: 5;
    column-gap: 0px;
    margin: 15px 20px 15px 20px;

}

#photo img {
    width: 90%;
    padding: 5px 0 5px 0;

}



/* form  */
.form-container {
    background-image: url(./images/flowersform.jpg);
    padding-top: 85px;
    padding-bottom: 60px;
    background-size: cover;

}

.form-container h1 {
    font-family: sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: #cc7178;
    ;
    text-align: center;
}

.form-container h4 {
    font-family: sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #c7d9b7;
    line-height: 1.5;
}

/*  inputs */

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em;
    color: #89023e;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}

.styled-input label {
    color: white;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: rgba(223, 174, 180, 0.7);
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #c7d9b7;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width: 100%;
        float: none;
        text-align: center;
    }
}

input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
}