/* global  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #ffecf6;
    font-family: 'Cinzel', sans-serif;
    font-family: 'Fauna One', sans-serif;
    font-size: 100%;
    line-height: .875em;
    color: #89023e;
    font-size: calc(60% + 0.8vmin);
}

input,
select,
textarea {
    font-family: 'Fauna One', sans-serif;
    font-size: 1em;
}

input,
select {
    vertical-align: middle;
    font-weight: normal;
}


#header,
#content,
#footer {
    font-size: 0.75em;
    position: relative;
}

.wrapper {
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}


/* navigation */
ul {
    list-style: none;
}

ul li {
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choose-us ul {
    padding: 15px 20px 15px 20px;
}

.choose-us ul li {
    padding: 15px 20px 15px 20px;
    color: #995267;
}



/*header*/
header {
    height: 400px;
    background: url('../images/main4.jpg'), linear-gradient(360deg, rgb(238, 101, 101, 1) 0%, rgba(50, 9, 9, 1) 55%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header .logo {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}


header .nav {
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    font-size: 1.5em;
    position: absolute;
    top: 30px;
    width: 100%;
}

header .nav li {
    display: inline;
}

header .nav li a {
    color: #89023e;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 47px 0 50px;
}

header .nav li a:hover {
    color: #995267;
    text-shadow: 2px -2px 5px white;
}

header .nav li a.current {
    color: #995267;
    text-shadow: 2px -2px 5px white;
}

header .nav li a.first {
    border: none;
}


/* text settings  */



a {
    color: #cc7178;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    padding: 8px 0 10px 66px;
    font-family: 'Cinzel', sans-serif;
    font-size: 55px;
    line-height: 1em;

}

a h1 {

    display: block;
    text-decoration: none;
    color: #89023e;
    padding-bottom: 6px;
}

.logo span {
    display: block;
    font-size: 16px;
    line-height: 1.1em;
    color: #66a36c;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-family: 'Cinzel', sans-serif;
    font-size: 3rem;
    line-height: 1em;
    color: #66a36c;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 12px;
}


h3 {
    font-family: 'Cinzel', sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: normal;
    color: #66a36c;
    margin: 22px 20px 20px 20px;
}

h4 {
    font-family: 'Cinzel', sans-serif;
    font-size: 1.7em;
    line-height: 1em;
    font-weight: normal;
    color: #89023e;
    text-align: center;
}

p {
    margin-bottom: 14px;
    color: #995267;
    line-height: 1.5rem;
    font-size: 2em;
    font-family: 'Fauna One', sans-serif;
}


/* form text style  */
.form-container h2 {
    font-family: 'Cinzel', sans-serif;
    font-size: 50px;
    font-weight: 800;
    display: block;
    text-align: center;
    color: #cc7178;
    padding-bottom: 6px;
    text-shadow: 2px -2px 5px white;
}

.form-container h3 {
    font-family: 'Cinzel', sans-serif;
    font-size: 1.7em;
    line-height: 1em;
    font-weight: normal;
    color: #66a36c;
    text-align: center;
    text-shadow: 2px -2px 5px white;
}






/*content*/
#content {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}

#content .flower1 {
    background: url('../images/flowersvase1.jpg') no-repeat;
    width: 37rem;
    height: 37rem;
    background-position: top;
    background-size: cover;
    display: flex;

}

#content .inside {
    text-align: right;
    align-items: center;
    width: 60%;
    display: flex;
}

.choose-us {
    margin: 1rem 3rem 1rem 3rem;
}

/* photo  */
#photo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

#photo div {
    width: 26rem;
    height: 26rem;
}

#photo div img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* form  */
.form-container {
    background-image: url('../images/flowersform11.jpg');
    margin-top: 30px;
    padding-top: 85px;
    padding-bottom: 60px;
    background-size: cover;
    background-position: center;
}

.form-container h2 {
    font-family: 'Cinzel', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #cc7178;
    ;
    text-align: center;
}

.form-container h3 {
    font-family: 'Cinzel', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #66a36c;
    line-height: 1.5;
    text-align: center;
}



/*  inputs */

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em;
    color: #89023e;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}



.styled-input label {
    color: white;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.number {
    float: right;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: rgba(223, 174, 180, 0.7);
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #66a36c;
    color: white;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    color: #89023e;
}


input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
}

/* social links  */
.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #66a36c;
}

.social-networks i:hover {
    color: #89023e
}

/* response page  */
.response-text {
    background-color: rgba(223, 174, 180, 0.7);
    border: 4px solid;
    border-radius: 1rem;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem;
}



/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    header {
        height: 350px;
        display: flex;
    }

    #content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
    }

    #content .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    #content .inside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding-top: 2rem;
    }

    #content .flower1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 37rem;
        max-width: 37rem;
        margin: 0 auto;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {


    header {
        height: 300px;
        display: flex;
    }

    header ul {
        display: flex;
        justify-content: center;
    }

    header .logo {
        top: 25%
    }

    h1 {
        font-size: 40px;
    }

    #content {
        height: 700px;
        display: flex;
        flex-direction: block;
        justify-content: space-between;
        padding: 2rem;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    header {
        height: 250px;
        display: flex;
    }

    header .logo {
        top: 20%
    }

    header ul {
        display: flex;
        justify-content: center;
    }


    .submit-btn {
        width: 100%;
        float: none;
        text-align: center;
    }

    .styled-input {
        width: 100%;
    }

    #content .inside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #content .flower1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choose-us {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 650px) {
    header {
        height: 225px;
    }

    header .logo {
        top: 18%
    }

    header ul {
        display: flex;
        justify-content: space-between;
    }

    header .nav li a {
        padding: 0 1rem;
    }

    h1 {
        font-size: 35px;
    }

    /* response page  */
    .response-text {
        padding: 6rem;
        margin: 4rem;
    }

    .form-container h2 {
        font-size: 35px;
    }

    .form-container h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    #content .flower1 {
        width: 25rem;
        height: 25rem;
    }

    /* response page  */
    .response-text {
        padding: 4rem;
        margin: 2rem;
    }

    .form-container h2 {
        font-size: 25px;
    }

    .form-container h3 {
        font-size: 10px;
    }
}